<% include ../partials/top.ejs %>
<% include ../partials/nav.ejs %>
<div class="container" id="outer">
    <% include ../partials/login.ejs %>
    <% include ../partials/checkout.ejs %>
    <% include ../partials/cart.ejs %>
</div>