<div id='outerCartC'>
        <h1>Item in you cart</h1>
        <h1 id = 'totalPrice'>total price : 0</h1>
        <div id='cartC'>  
        </div>
        <button class="btn btn-lg btn-default"id='checkOutButton'><span class="glyphicon"></span>Check out</button>
</div>