<div id="loginC" class="alert alert-info text-left">
  <h1>Login </h1>
  <form>
    <div class="form-group">
      <label>User Name:</label>
      <input type="text" class="form-control" id="username" required="required">
    </div>
    <div class="form-group">
      <label>Password:</label>
      <input type="password" class="form-control" id="password" required="required">
    </div>
  </form>
  <button class="btn btn-lg btn-default" id='loginBtn'><span class="glyphicon"></span>Login in</button>
</div>