<nav class="navbar navbar-inverse">
    <center>
      <button class="btn btn-lg btn-default" id='newBtn'><span class="glyphicon"></span>News and tips</button>
      <button class="btn btn-lg btn-default" id='allTreeBtn'><span class="glyphicon"></span>All trees</button>
      <button class="btn btn-lg btn-default"id='viewCartBtn'><span class="glyphicon"></span>View cart</button>
      <button class="btn btn-lg btn-default" id='profilebtn'><span class="glyphicon"></span>My profiles</button>
    </center>
</nav>