<div class="jumbotron text-center" id="topHeader">
    <div class="container">
        <a href="/" class="lang-logo">
            <img src="/lang-logo.png">
        </a>
        <h1>Welcome to the plant a tree website</h1>
        <p>This is the assignment 1 (b) for SE 2019</p>
    </div>
</div>