.jumbotron {
  background: #53b278;
  color: rgba(0, 0, 0, 255);
  padding-bottom: 80px; }
  .jumbotron .btn-primary {
    background: #b4dfd5;
    border-color: #42f4ce; }
    .jumbotron .btn-primary:hover {
      background: #42f4ce; }
  .jumbotron p {
    color: #000000;
    max-width: 75%;
    margin: 1em auto 2em; }
  .navbar + .jumbotron {
    margin-top: -20px; }
  .jumbotron .lang-logo {
    display: block;
    background: #B01302;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: auto;
    border: 2px solid white; }
    .jumbotron .lang-logo img {
      max-width: 100%; }

