<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
</head>

<body style="font-family:consolas;">
  <% include ../partials/body.ejs %>

  <script src="functions.js"></script>
</body>

</html>