<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>


<div class="jumbotron text-center" id = "topHeader" >
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>  
    <h1>Well come to the plant a tree website</h1>
    <p>this is the assignment 1 (b) for SE 2019 </p>
  </div>
</div>

<div class="container" id = "outerTips">
  <h1>Plant trips</h1>  
  <div id = "tipsC" class="alert alert-info text-left">      
  </div>

  <div class="container" id = "outer">
  <h1>today spcial</h1>
    <div class="container" id='treeC'> 
  </div>

<script>

  let outer = document.getElementById('outer');
  let tipC = document.getElementById('tipsC');
  let treeC = document.getElementById('treeC');

  var tipData = {
        tips : {
            topic:['Tree needs water','Tree need sun light','Tree takes space to grow'],
            content:['you need to give tree enough water', 'you should not plant your tree on a undergrand garage','You should not plant tree inside your wardrobe']
        }
    };

    var treeData = {
        trees : {
            name:['TreeA','TreeB','TreeC'],
            desc:['DescA', 'DescA','DescA'],
            price:['1','2','3']
        }
    };
  
  var tips = '<div class="container"><p>%TOPIC%</p><li>%CONTENT%</li><br></div>';

  function addTips(){
      for(var i = 0;i!=3;i++){
      var html= tips.replace('%TOPIC%',tipData.tips['topic'][i]);
      html= html.replace('%CONTENT%',tipData.tips['content'][i]);
      tipC.insertAdjacentHTML("beforeend",html);
    }
  }

  var tree = '<div class="alert alert-info text-left"><div class="container"><img src="lang-logo.png" width="400" height="150">%NAME% now is $%PRICE%<button id = "%BID%">buy</button></div></div>';

  var currentID = 0;
  function addTree(){
    for(var i = 0;i!=3;i++){
      var html= tree.replace('%NAME%',treeData.trees['name'][i]);
      html= html.replace('%PRICE%',treeData.trees['price'][i]);
      html=html.replace('%BID%','BID'+i);
      treeC.insertAdjacentHTML("beforeend",html);
      var button = document.getElementById('BID'+i);
      button.addEventListener('click',function(event){
        buttonClick(event);
      });
    }
  }

  function buttonClick(event){
      var clickedOn= (event.target.id).split('BID')[1];
      var i = parseInt(clickedOn);
      console.info(i);
      prompt('are you going to buy tree:'+treeData.trees[name]);
  }

  

  function clearup(){
    console.info(outer);
    outer.style.visibility = 'hidden';
    var html = '<div class="container"><img src="lang-logo.png" width="400" height="150">testing<button id = "123">buy</button></div></div>';
    outer.insertAdjacentHTML('beforeend',html);
    }
  addTips();
  addTree();
  //button.addEventListener('click',clearup);

</script>
</body>
</html>
